.wrapper {
  /* position: relative; */
  display: flex;
  overflow: visible;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.wrapper textarea {
  flex-shrink: 2;
  border: 1px solid #B7A7AE;
}

.inputWrapper input {
  border: 1px solid #b7a7ae;
  margin: 0;
} 

.inputWrapper.error input {
  border: 2px solid red;
}


.spanBlock {
  
  position: relative;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  flex-wrap: nowrap;
  min-width: 100px;
  height: 20px;
  color: white;
}

.spanWrapperTriangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #b7a7ae;
  border-bottom: 10px solid transparent;
}

.spanWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  background: #b7a7ae;
  padding: 10px;
}
