.header {
  display: grid;
  height: 100px;
  /* width: 1200px; */
  grid-area: header;
  align-items: center;
  padding: 10px 40px;
  background: #58545B;
}

.logo {
  height: 90px;
  
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}