.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  grid-area: header;
  align-items: center;
  padding: 10px 40px;
  background: #58545B;
}

.logo {
  height: 90px;
  
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.authInfo {
  color: #F6F2F6;
  letter-spacing: 0.5px;
}

.authInfo a {
  color: #F6F2F6;
  letter-spacing: 0.5px;
}