.sidebar {
  grid-area: nav;
  /* width: 155px; */
  padding: 10px;
  background:#F6F2F6;
}

.nav a {
  color: #1C252C;
  text-decoration: none;
}

.activeLink, .h2 {
  font-size: 20px;
  font-weight: 700;
  color: #58545B;
}
