.post {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  'img text'
  'like like';
  align-items: start;
  padding: 10px;
  color: white;
  background: #B7A7AE;
}

.img {
  grid-area: img;
  height: 50px;
}

.text {
  grid-area: text;
  padding: 5px 10px 10px;
  margin: 0 0 0 10px;
  border: 1px solid white;
}

.like {
  grid-area: like;
  justify-self: end;
  align-self: end;
}