form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 70px;
  height: 30px;
  background: #B7A7AE;
  border: none;
}

.error {
  width:200px;
  font-weight: 900;
  padding: 5px;
  border: 2px solid red;
}