* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  min-height: 100vh;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
}

.main {
  grid-area: main;
  min-width: 1000px;
  background: #F6F2F6;
  color: #1C252C;
  padding: 50px 90px 50px 50px;
  border-left: 5px solid #58545B;
}




