.app-wrapper {
  display: grid;
  max-width: 1200px;
  min-height: 100vh;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
}

.main {
  grid-area: main;
  background: #ffdce3;
  color: #021E20;
  padding: 50px 90px 50px 50px;
}




