.message {
  width: fit-content;
  min-width: 100px;
  color: #1C252C;
  border: 1px solid #B7A7AE;
}

.text {
  margin: 0;
  padding: 5px 10px 5px 5px;
  border: 1px solid white;
}

.currentUser {
  background: rgba(225, 213, 217, 0.7);
  border: none;
  align-self: flex-end;
}