.message {
width: fit-content;
min-width: 100px;
/* display: inline-block; */
  color: white;
  background: #B7A7AE;
  padding: 10px;
  margin: 10px 0;
}

.text {
  margin: 0;
  padding: 10px 15px 20px 10px;
  border: 1px solid white;
}